@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity
@model IEnumerable<WebProjectOnAuthorization.ViewModels.ProfileViewModel>
@inject UserManager<ApplicationUser> userManager

@{
    ViewData["Title"] = "Index";
    var users= userManager.Users.ToList();
    var userId = users.Where(r=> r.Email == User.Identity.Name).Select(r=> r.Id).FirstOrDefault();
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Organisation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PresentAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Github)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Twitter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Facebook)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Linkdin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hobby1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hobby1Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hobby1Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hobby2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hobby2Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hobby2Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hobby3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hobby3Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hobby3Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProPhoto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Organisation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PresentAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Github)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Twitter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Facebook)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Linkdin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hobby1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hobby1Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hobby1Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hobby2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hobby2Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hobby2Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hobby3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hobby3Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hobby3Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProPhoto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@userId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
